
//
// VARIABLES
//

// Colors
$blue: #176b87;

// Grays
$black: #000;
$darkerGray: #17212b;
$darkGray: #24313a;
$gray: #64727d;
$lightGray: #e6edf2;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
